body{
    background-color: rgb(241, 241, 241);    
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;

}

img{
    width: 300px;
    height: 200px;
    border-radius: 100%;
    margin-left: 38%;
    box-shadow: inset 0 0 1em rgb(95, 94, 88), 0 0 1em black;



}




.des{
   
    justify-content: center;
   font-size: 10pt;
   position: relative;
   
}


img:hover{
    
    width: 310px;
    height: 210px;
    border-radius: 100%;
    position: relative;
    box-shadow: inset 0 0 1em rgb(25, 209, 49), 0 0 1em rgb(78, 167, 38);



}

h4{
    position: relative;


}

header{
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif; 


}



ul{

    list-style:circle;
    


}
.info{
   
    
    width: 350px;
    margin-left: 150px;
    border: 5px;
    border-radius: 10%;
    border-style: solid;
    border-color: green;
    background-color: rgb(247, 247, 247); 
    box-shadow: inset 0 0 1em rgb(95, 94, 88), 0 0 1em black;
    



}

.info:hover {
    width: 350px;
    margin-left: 150px;
    border: 5px;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(226, 195, 16);
    background-color: rgb(247, 247, 247); 
    box-shadow: inset 0 0 1em rgb(155, 132, 0), 0 0 1em black;
    font-style: oblique;
    font-weight: 900;


}



.container{
    display:flex;
    margin-top: 70px;

}

.habilidade{

    width: 350px;
    margin-left: 250px;
    border: 5px;
    border-radius: 10%;
    border-style: solid;
    border-color: green;
    background-color: rgb(247, 247, 247); 
    box-shadow: inset 0 0 1em rgb(95, 94, 88), 0 0 1em black;


}

.habilidade:hover{
    width: 350px;
    margin-left: 250px;
    border: 5px;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(226, 195, 16);
    background-color: rgb(247, 247, 247); 
    box-shadow: inset 0 0 1em rgb(155, 132, 0), 0 0 1em black;
    font-style: oblique;
    font-weight: 900;


}







h1 , h2 {

    color: green;
    position: relative;
    

}


.links{

    
    margin-top: 100px;
    font-size: 15pt;
    



}

a:link{
    background-color: rgba(0, 128, 0, 0.233);



}

.link:hover{
    background-color: yellow;
   

}

#texto{
    width: 500px;
    margin-left: 33%;
    margin-top: 40px;
    font-size: 14pt;


}

#Titulo_habilidade , #Titulo_info{
    text-align: center;


}

.icos{
    width: 20px;
    height: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-left: 7px;
    box-shadow: none;


}

.icos:hover{
    width: 50px;
    height: 50px;


}